<div class="constant-sequence">
  <a href="/constants/busy-beaver-shift-1" class="constant-box value-exact"><strong>1</strong><br><div class="constant-box-values">$1$</div>  </a>
  <a href="/constants/busy-beaver-shift-2" class="constant-box value-exact"><strong>2</strong><br><div class="constant-box-values">$6$</div>  </a>
  <a href="/constants/busy-beaver-shift-3" class="constant-box value-exact"><strong>3</strong><br><div class="constant-box-values">$21$</div>  </a>
  <a href="/constants/busy-beaver-shift-4" class="constant-box value-exact"><strong>4</strong><br><div class="constant-box-values">$107$</div>  </a>
  <a href="/constants/busy-beaver-shift-5" class="constant-box value-exact"><strong>5</strong><br><div class="constant-box-values">$47176870$</div>  </a>
  <a href="/constants/busy-beaver-shift-6" class="constant-box value-half-bounded"><strong>6</strong><br><div class="constant-box-values">$7.4\times10^{36524}$<br>$?$</div>  </a>
  <a href="/constants/busy-beaver-shift-7" class="constant-box value-half-bounded"><strong>7</strong><br><div class="constant-box-values">$10^{2\times10^{10^{10^{18705353}}}}$<br>$?$</div>  </a>
</div>
