<div class="constant-sequence">
  <a href="/constants/busy-beaver-ones-1" class="constant-box value-exact"><strong>1</strong><br><div class="constant-box-values">$1$</div>  </a>
  <a href="/constants/busy-beaver-ones-2" class="constant-box value-exact"><strong>2</strong><br><div class="constant-box-values">$4$</div>  </a>
  <a href="/constants/busy-beaver-ones-3" class="constant-box value-exact"><strong>3</strong><br><div class="constant-box-values">$6$</div>  </a>
  <a href="/constants/busy-beaver-ones-4" class="constant-box value-exact"><strong>4</strong><br><div class="constant-box-values">$13$</div>  </a>
  <a href="/constants/busy-beaver-ones-5" class="constant-box value-half-bounded"><strong>5</strong><br><div class="constant-box-values">$4098$<br>$?$</div>  </a>
  <a href="/constants/busy-beaver-ones-6" class="constant-box value-half-bounded"><strong>6</strong><br><div class="constant-box-values">$3.5\times10^{18267}$<br>$?$</div>  </a>
  <a href="/constants/busy-beaver-ones-7" class="constant-box value-half-bounded"><strong>7</strong><br><div class="constant-box-values">$10^{10^{10^{10^{18705353}}}}$<br>$?$</div>  </a>
</div>
