<div class="table-responsive">
  <table class="table table-bordered border-secondary-subtle align-middle constant-grid">
    <thead>
      <tr><th scope="col">d\k</th>
        <th scope="col">2</th>
        <th scope="col">3</th>
        <th scope="col">4</th>
        <th scope="col">5</th>
        <th scope="col">6</th>
        <th scope="col">7</th>
        <th scope="col">8</th>
        <th scope="col">9</th>
        <th scope="col">10</th>
      </tr>
    </thead>
    <tbody>
      <tr><th scope="row">3</th>
        <td class="constant-cell value-exact"><a href="/constants/degree-diameter-3-2" class="cell-link">10</a></td>
        <td class="constant-cell value-exact"><a href="/constants/degree-diameter-3-3" class="cell-link">20</a></td>
        <td class="constant-cell value-exact"><a href="/constants/degree-diameter-3-4" class="cell-link">38</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-3-5" class="cell-link">70<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-3-6" class="cell-link">132<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-3-7" class="cell-link">190<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-3-8" class="cell-link">360<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-3-9" class="cell-link">600<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-3-10" class="cell-link">1250<br>?</a></td>
      </tr>
      <tr><th scope="row">4</th>
        <td class="constant-cell value-exact"><a href="/constants/degree-diameter-4-2" class="cell-link">15</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-4-3" class="cell-link">41<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-4-4" class="cell-link">96<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-4-5" class="cell-link">364<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-4-6" class="cell-link">740<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-4-7" class="cell-link">1320<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-4-8" class="cell-link">3243<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-4-9" class="cell-link">7575<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-4-10" class="cell-link">17703<br>?</a></td>
      </tr>
      <tr><th scope="row">5</th>
        <td class="constant-cell value-exact"><a href="/constants/degree-diameter-5-2" class="cell-link">24</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-5-3" class="cell-link">72<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-5-4" class="cell-link">212<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-5-5" class="cell-link">624<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-5-6" class="cell-link">2772<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-5-7" class="cell-link">5516<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-5-8" class="cell-link">17030<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-5-9" class="cell-link">57840<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-5-10" class="cell-link">187056<br>?</a></td>
      </tr>
      <tr><th scope="row">6</th>
        <td class="constant-cell value-exact"><a href="/constants/degree-diameter-6-2" class="cell-link">32</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-6-3" class="cell-link">110<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-6-4" class="cell-link">390<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-6-5" class="cell-link">1404<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-6-6" class="cell-link">7917<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-6-7" class="cell-link">19383<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-6-8" class="cell-link">76891<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-6-9" class="cell-link">331387<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-6-10" class="cell-link">1253615<br>?</a></td>
      </tr>
      <tr><th scope="row">7</th>
        <td class="constant-cell value-exact"><a href="/constants/degree-diameter-7-2" class="cell-link">50</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-7-3" class="cell-link">148<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-7-4" class="cell-link">672<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-7-5" class="cell-link">2756<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-7-6" class="cell-link">12264<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-7-7" class="cell-link">53020<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-7-8" class="cell-link">249660<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-7-9" class="cell-link">1223050<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-7-10" class="cell-link">6007230<br>?</a></td>
      </tr>
      <tr><th scope="row">8</th>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-8-2" class="cell-link">57<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-8-3" class="cell-link">253<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-8-4" class="cell-link">1100<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-8-5" class="cell-link">5115<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-8-6" class="cell-link">39672<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-8-7" class="cell-link">131137<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-8-8" class="cell-link">734820<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-8-9" class="cell-link">4243100<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-8-10" class="cell-link">24897161<br>?</a></td>
      </tr>
      <tr><th scope="row">9</th>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-9-2" class="cell-link">74<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-9-3" class="cell-link">585<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-9-4" class="cell-link">1640<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-9-5" class="cell-link">8268<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-9-6" class="cell-link">75893<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-9-7" class="cell-link">279616<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-9-8" class="cell-link">1697688<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-9-9" class="cell-link">12123288<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-9-10" class="cell-link">65866350<br>?</a></td>
      </tr>
      <tr><th scope="row">10</th>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-10-2" class="cell-link">91<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-10-3" class="cell-link">650<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-10-4" class="cell-link">2331<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-10-5" class="cell-link">13203<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-10-6" class="cell-link">134690<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-10-7" class="cell-link">583083<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-10-8" class="cell-link">4293452<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-10-9" class="cell-link">27997191<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-10-10" class="cell-link">201038922<br>?</a></td>
      </tr>
      <tr><th scope="row">11</th>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-11-2" class="cell-link">104<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-11-3" class="cell-link">715<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-11-4" class="cell-link">3200<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-11-5" class="cell-link">19620<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-11-6" class="cell-link">156864<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-11-7" class="cell-link">1001268<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-11-8" class="cell-link">7442328<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-11-9" class="cell-link">72933102<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-11-10" class="cell-link">600380000<br>?</a></td>
      </tr>
      <tr><th scope="row">12</th>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-12-2" class="cell-link">133<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-12-3" class="cell-link">786<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-12-4" class="cell-link">4680<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-12-5" class="cell-link">29621<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-12-6" class="cell-link">359772<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-12-7" class="cell-link">1999500<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-12-8" class="cell-link">15924326<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-12-9" class="cell-link">158158875<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-12-10" class="cell-link">1506252500<br>?</a></td>
      </tr>
      <tr><th scope="row">13</th>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-13-2" class="cell-link">162<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-13-3" class="cell-link">851<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-13-4" class="cell-link">6560<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-13-5" class="cell-link">40488<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-13-6" class="cell-link">531440<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-13-7" class="cell-link">3322080<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-13-8" class="cell-link">29927790<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-13-9" class="cell-link">249155760<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-13-10" class="cell-link">3077200700<br>?</a></td>
      </tr>
      <tr><th scope="row">14</th>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-14-2" class="cell-link">183<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-14-3" class="cell-link">916<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-14-4" class="cell-link">8200<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-14-5" class="cell-link">58095<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-14-6" class="cell-link">816294<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-14-7" class="cell-link">6200460<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-14-8" class="cell-link">55913932<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-14-9" class="cell-link">600123780<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-14-10" class="cell-link">7041746081<br>?</a></td>
      </tr>
      <tr><th scope="row">15</th>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-15-2" class="cell-link">187<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-15-3" class="cell-link">1215<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-15-4" class="cell-link">11712<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-15-5" class="cell-link">77520<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-15-6" class="cell-link">1417248<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-15-7" class="cell-link">8599986<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-15-8" class="cell-link">90001236<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-15-9" class="cell-link">1171998164<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-15-10" class="cell-link">10012349898<br>?</a></td>
      </tr>
      <tr><th scope="row">16</th>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-16-2" class="cell-link">200<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-16-3" class="cell-link">1600<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-16-4" class="cell-link">14640<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-16-5" class="cell-link">132496<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-16-6" class="cell-link">1771560<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-16-7" class="cell-link">14882658<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-16-8" class="cell-link">140559416<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-16-9" class="cell-link">2025125476<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/degree-diameter-16-10" class="cell-link">12951451931<br>?</a></td>
      </tr>
      <tr><th scope="row">17</th>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-17-2" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-17-3" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-17-4" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-17-5" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-17-6" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-17-7" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-17-8" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-17-9" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-17-10" class="cell-link">?<br>?</a></td>
      </tr>
      <tr><th scope="row">18</th>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-18-2" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-18-3" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-18-4" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-18-5" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-18-6" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-18-7" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-18-8" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-18-9" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-18-10" class="cell-link">?<br>?</a></td>
      </tr>
      <tr><th scope="row">19</th>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-19-2" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-19-3" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-19-4" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-19-5" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-19-6" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-19-7" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-19-8" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-19-9" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-19-10" class="cell-link">?<br>?</a></td>
      </tr>
      <tr><th scope="row">20</th>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-20-2" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-20-3" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-20-4" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-20-5" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-20-6" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-20-7" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-20-8" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-20-9" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/degree-diameter-20-10" class="cell-link">?<br>?</a></td>
      </tr>
    </tbody>
  </table>
</div>
