<div class="constant-sequence">
  <a href="/constants/kissing-number-1" class="constant-box value-exact"><strong>1</strong><br><div class="constant-box-values">$2$</div>  </a>
  <a href="/constants/kissing-number-2" class="constant-box value-exact"><strong>2</strong><br><div class="constant-box-values">$6$</div>  </a>
  <a href="/constants/kissing-number-3" class="constant-box value-exact"><strong>3</strong><br><div class="constant-box-values">$12$</div>  </a>
  <a href="/constants/kissing-number-4" class="constant-box value-exact"><strong>4</strong><br><div class="constant-box-values">$24$</div>  </a>
  <a href="/constants/kissing-number-5" class="constant-box value-bounded"><strong>5</strong><br><div class="constant-box-values">$40$<br>$44$</div>  </a>
  <a href="/constants/kissing-number-6" class="constant-box value-bounded"><strong>6</strong><br><div class="constant-box-values">$72$<br>$77$</div>  </a>
  <a href="/constants/kissing-number-7" class="constant-box value-bounded"><strong>7</strong><br><div class="constant-box-values">$126$<br>$134$</div>  </a>
  <a href="/constants/kissing-number-8" class="constant-box value-exact"><strong>8</strong><br><div class="constant-box-values">$240$</div>  </a>
  <a href="/constants/kissing-number-9" class="constant-box value-bounded"><strong>9</strong><br><div class="constant-box-values">$306$<br>$363$</div>  </a>
  <a href="/constants/kissing-number-10" class="constant-box value-bounded"><strong>10</strong><br><div class="constant-box-values">$510$<br>$553$</div>  </a>
  <a href="/constants/kissing-number-11" class="constant-box value-bounded"><strong>11</strong><br><div class="constant-box-values">$592$<br>$868$</div>  </a>
  <a href="/constants/kissing-number-12" class="constant-box value-bounded"><strong>12</strong><br><div class="constant-box-values">$840$<br>$1355$</div>  </a>
  <a href="/constants/kissing-number-13" class="constant-box value-bounded"><strong>13</strong><br><div class="constant-box-values">$1154$<br>$2064$</div>  </a>
  <a href="/constants/kissing-number-14" class="constant-box value-bounded"><strong>14</strong><br><div class="constant-box-values">$1932$<br>$3174$</div>  </a>
  <a href="/constants/kissing-number-15" class="constant-box value-bounded"><strong>15</strong><br><div class="constant-box-values">$2564$<br>$4853$</div>  </a>
  <a href="/constants/kissing-number-16" class="constant-box value-bounded"><strong>16</strong><br><div class="constant-box-values">$4320$<br>$7320$</div>  </a>
  <a href="/constants/kissing-number-17" class="constant-box value-bounded"><strong>17</strong><br><div class="constant-box-values">$5730$<br>$10978$</div>  </a>
  <a href="/constants/kissing-number-18" class="constant-box value-bounded"><strong>18</strong><br><div class="constant-box-values">$7654$<br>$16406$</div>  </a>
  <a href="/constants/kissing-number-19" class="constant-box value-bounded"><strong>19</strong><br><div class="constant-box-values">$11692$<br>$24417$</div>  </a>
  <a href="/constants/kissing-number-20" class="constant-box value-bounded"><strong>20</strong><br><div class="constant-box-values">$19448$<br>$36195$</div>  </a>
  <a href="/constants/kissing-number-21" class="constant-box value-bounded"><strong>21</strong><br><div class="constant-box-values">$29768$<br>$53524$</div>  </a>
  <a href="/constants/kissing-number-22" class="constant-box value-bounded"><strong>22</strong><br><div class="constant-box-values">$49896$<br>$80810$</div>  </a>
  <a href="/constants/kissing-number-23" class="constant-box value-bounded"><strong>23</strong><br><div class="constant-box-values">$93150$<br>$122351$</div>  </a>
  <a href="/constants/kissing-number-24" class="constant-box value-exact"><strong>24</strong><br><div class="constant-box-values">$196560$</div>  </a>
</div>
