<div class="table-responsive">
  <table class="table table-bordered border-secondary-subtle align-middle constant-grid">
    <thead>
      <tr><th scope="col">r\s</th>
        <th scope="col">3</th>
        <th scope="col">4</th>
        <th scope="col">5</th>
        <th scope="col">6</th>
        <th scope="col">7</th>
        <th scope="col">8</th>
        <th scope="col">9</th>
        <th scope="col">10</th>
        <th scope="col">11</th>
        <th scope="col">12</th>
        <th scope="col">13</th>
        <th scope="col">14</th>
        <th scope="col">15</th>
      </tr>
    </thead>
    <tbody>
      <tr><th scope="row">3</th>
        <td class="constant-cell value-exact"><a href="/constants/ramsey-3-3" class="cell-link">6</a></td>
        <td class="constant-cell value-exact"><a href="/constants/ramsey-3-4" class="cell-link">9</a></td>
        <td class="constant-cell value-exact"><a href="/constants/ramsey-3-5" class="cell-link">14</a></td>
        <td class="constant-cell value-exact"><a href="/constants/ramsey-3-6" class="cell-link">18</a></td>
        <td class="constant-cell value-exact"><a href="/constants/ramsey-3-7" class="cell-link">23</a></td>
        <td class="constant-cell value-exact"><a href="/constants/ramsey-3-8" class="cell-link">28</a></td>
        <td class="constant-cell value-exact"><a href="/constants/ramsey-3-9" class="cell-link">36</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-3-10" class="cell-link">40<br>41</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-3-11" class="cell-link">47<br>50</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-3-12" class="cell-link">53<br>59</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-3-13" class="cell-link">60<br>68</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-3-14" class="cell-link">67<br>77</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-3-15" class="cell-link">74<br>87</a></td>
      </tr>
      <tr><th scope="row">4</th>
        <td class="table-secondary"></td>
        <td class="constant-cell value-exact"><a href="/constants/ramsey-4-4" class="cell-link">18</a></td>
        <td class="constant-cell value-exact"><a href="/constants/ramsey-4-5" class="cell-link">25</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-4-6" class="cell-link">36<br>40</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-4-7" class="cell-link">49<br>58</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-4-8" class="cell-link">59<br>79</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-4-9" class="cell-link">73<br>105</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-4-10" class="cell-link">92<br>135</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-4-11" class="cell-link">102<br>170</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-4-12" class="cell-link">128<br>210</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-4-13" class="cell-link">138<br>256</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-4-14" class="cell-link">147<br>307</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-4-15" class="cell-link">158<br>364</a></td>
      </tr>
      <tr><th scope="row">5</th>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-5-5" class="cell-link">43<br>46</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-5-6" class="cell-link">59<br>85</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-5-7" class="cell-link">80<br>133</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-5-8" class="cell-link">101<br>193</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-5-9" class="cell-link">133<br>282</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-5-10" class="cell-link">149<br>381</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-5-11" class="cell-link">183<br>511</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-5-12" class="cell-link">203<br>672</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-5-13" class="cell-link">233<br>860</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-5-14" class="cell-link">267<br>1081</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-5-15" class="cell-link">275<br>1341</a></td>
      </tr>
      <tr><th scope="row">6</th>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-6-6" class="cell-link">102<br>160</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-6-7" class="cell-link">115<br>270</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-6-8" class="cell-link">134<br>423</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-6-9" class="cell-link">183<br>651</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-6-10" class="cell-link">204<br>944</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-6-11" class="cell-link">262<br>1346</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-6-12" class="cell-link">294<br>1855</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-6-13" class="cell-link">347<br>2499</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/ramsey-6-14" class="cell-link">?<br>3301</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-6-15" class="cell-link">401<br>4305</a></td>
      </tr>
      <tr><th scope="row">7</th>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-7-7" class="cell-link">205<br>492</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-7-8" class="cell-link">219<br>832</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-7-9" class="cell-link">252<br>1368</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-7-10" class="cell-link">292<br>2119</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-7-11" class="cell-link">405<br>3197</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-7-12" class="cell-link">417<br>4665</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-7-13" class="cell-link">511<br>6653</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/ramsey-7-14" class="cell-link">?<br>9260</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/ramsey-7-15" class="cell-link">?<br>12635</a></td>
      </tr>
      <tr><th scope="row">8</th>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-8-8" class="cell-link">282<br>1518</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-8-9" class="cell-link">329<br>2662</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-8-10" class="cell-link">343<br>4402</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-8-11" class="cell-link">457<br>7040</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/ramsey-8-12" class="cell-link">?<br>10836</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-8-13" class="cell-link">817<br>27485</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/ramsey-8-14" class="cell-link">?<br>41525</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-8-15" class="cell-link">873<br>63609</a></td>
      </tr>
      <tr><th scope="row">9</th>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-9-9" class="cell-link">565<br>4956</a></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-9-10" class="cell-link">581<br>8675</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/ramsey-9-11" class="cell-link">?<br>14631</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/ramsey-9-12" class="cell-link">?<br>38832</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/ramsey-9-13" class="cell-link">?<br>64864</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/ramsey-9-14" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/ramsey-9-15" class="cell-link">?<br>?</a></td>
      </tr>
      <tr><th scope="row">10</th>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="constant-cell value-bounded"><a href="/constants/ramsey-10-10" class="cell-link">798<br>16064</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/ramsey-10-11" class="cell-link">?<br>45881</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/ramsey-10-12" class="cell-link">?<br>81123</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/ramsey-10-13" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-unbounded"><a href="/constants/ramsey-10-14" class="cell-link">?<br>?</a></td>
        <td class="constant-cell value-half-bounded"><a href="/constants/ramsey-10-15" class="cell-link">1313<br>?</a></td>
      </tr>
    </tbody>
  </table>
</div>
