<div class="table-responsive">
  <table class="table table-bordered border-secondary-subtle constant-grid">
    <thead>
      <tr><th scope="col">r\s</th>
        <th scope="col">3</th>
        <th scope="col">4</th>
        <th scope="col">5</th>
        <th scope="col">6</th>
        <th scope="col">7</th>
        <th scope="col">8</th>
        <th scope="col">9</th>
        <th scope="col">10</th>
        <th scope="col">11</th>
        <th scope="col">12</th>
        <th scope="col">13</th>
        <th scope="col">14</th>
        <th scope="col">15</th>
      </tr>
    </thead>
    <tbody>
      <tr><th scope="row">3</th>
        <td><a href="/constants/ramsey-3-3" class="cell-link">? - ?</a></td>
        <td class="table-success"><a href="/constants/ramsey-3-4" class="cell-link">9</a></td>
        <td class="table-success"><a href="/constants/ramsey-3-5" class="cell-link">14</a></td>
        <td class="table-success"><a href="/constants/ramsey-3-6" class="cell-link">18</a></td>
        <td><a href="/constants/ramsey-3-7" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-3-8" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-3-9" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-3-10" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-3-11" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-3-12" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-3-13" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-3-14" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-3-15" class="cell-link">? - ?</a></td>
      </tr>
      <tr><th scope="row">4</th>
        <td class="table-secondary"></td>
        <td class="table-success"><a href="/constants/ramsey-4-4" class="cell-link">18</a></td>
        <td><a href="/constants/ramsey-4-5" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-4-6" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-4-7" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-4-8" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-4-9" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-4-10" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-4-11" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-4-12" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-4-13" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-4-14" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-4-15" class="cell-link">? - ?</a></td>
      </tr>
      <tr><th scope="row">5</th>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td><a href="/constants/ramsey-5-5" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-5-6" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-5-7" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-5-8" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-5-9" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-5-10" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-5-11" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-5-12" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-5-13" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-5-14" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-5-15" class="cell-link">? - ?</a></td>
      </tr>
      <tr><th scope="row">6</th>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td><a href="/constants/ramsey-6-6" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-6-7" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-6-8" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-6-9" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-6-10" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-6-11" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-6-12" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-6-13" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-6-14" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-6-15" class="cell-link">? - ?</a></td>
      </tr>
      <tr><th scope="row">7</th>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td><a href="/constants/ramsey-7-7" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-7-8" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-7-9" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-7-10" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-7-11" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-7-12" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-7-13" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-7-14" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-7-15" class="cell-link">? - ?</a></td>
      </tr>
      <tr><th scope="row">8</th>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td><a href="/constants/ramsey-8-8" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-8-9" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-8-10" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-8-11" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-8-12" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-8-13" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-8-14" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-8-15" class="cell-link">? - ?</a></td>
      </tr>
      <tr><th scope="row">9</th>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td><a href="/constants/ramsey-9-9" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-9-10" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-9-11" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-9-12" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-9-13" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-9-14" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-9-15" class="cell-link">? - ?</a></td>
      </tr>
      <tr><th scope="row">10</th>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td class="table-secondary"></td>
        <td><a href="/constants/ramsey-10-10" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-10-11" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-10-12" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-10-13" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-10-14" class="cell-link">? - ?</a></td>
        <td><a href="/constants/ramsey-10-15" class="cell-link">? - ?</a></td>
      </tr>
    </tbody>
  </table>
</div>
