---
layout: default
---

{% assign constant = site.data.constants[page.id] %}

<h1>{{ constant.name }}</h1>

<p>{{ constant.description }}</p>

<div class="mt-4">
  {% if constant.value != null %}
    <p><strong>Value:</strong> ${{ constant.value }}$</p>
  {% else %}
    <p>
      <strong>Lower bound:</strong> {% if constant.lower_bound != null %}${{ constant.lower_bound }}${% else %}Unknown{% endif %}
      <br>
      <strong>Upper bound:</strong> {% if constant.upper_bound != null %}${{ constant.upper_bound }}${% else %}Unknown{% endif %}
    </p>
  {% endif %}
</div>


<h2>Updates</h2>

<ul>
  {% for update in constant.updates %}
  <li>
      {% if update.date != null %}
        <strong>{{ update.date }}</strong>
      {% endif %}
      {% if update.lower_bound != null %}
        Lower bound: ${{ update.lower_bound }}$
      {% else %}
        Upper bound: ${{ update.upper_bound }}$
      {% endif %}
      {% if update.primary_source %}
        {% assign primary = site.data.sources[update.primary_source] %}
        <br>{% if primary.doi %}
          <a href="{{ primary.doi }}">{{ primary.string }}</a>
        {% elsif primary.url %}
          <a href="{{ primary.url }}">{{ primary.string }}</a>
        {% else %}
          {{ primary.string }}
        {% endif %}
      {% else %}
        <br><em>Reference unknown</em>
      {% endif %}
      {% if update.secondary_source %}
        {% assign secondary = site.data.sources[update.secondary_source] %}
        {% if secondary.doi %}
          <br>[via <a href="{{ secondary.doi }}">{{ secondary.string }}</a>]
        {% elsif secondary.url %}
          <br>[via <a href="{{ secondary.url }}">{{ secondary.string }}</a>]
        {% else %}
          <br>[via {{ secondary.string }}]
        {% endif %}
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% if constant.updates.size == 0 %}
  <p><em>No updates recorded.</em></p>
{% endif %}
