<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand fs-4" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/assets/images/logo.png" alt="Leaps in Bounds Logo" height="30" class="d-inline-block align-middle me-2">
          Leaps in Bounds
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/constants/">[Constants]</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/download/">[Download]</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/about/">[About]</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container mt-4">
      {{ content }}
    </div>
  </main>
</body>
</html>
